@page "/"

<div>
    <img style="vertical-align: middle" src="Images\gas-station-final-700h-505x400.jpg" alt="Pop's Store and Gas Station - Final Image" width="189" height="150" sizes="(max-width: 505px) 100vw, 505px" />
    <span style="font-size: 66px; color: brown">Pop's Gas and Stuff</span>
</div>

<hr>

<div id="order-header" class="order-header">
    <div class="row">
        <div class="column">
            <div>@DateTime.Now.ToShortDateString() @DateTime.Now.ToShortTimeString()</div>
            <p><b>Order #:</b> @Sale.Id.ToString()</p>
        </div>
        <div class="column">
            <div>Status: <b>@Sale.Status</b></div>
        </div>
    </div>
</div>

<br />

<div id="order-details" class="order-details" style="width: 600px; margin: auto">
    <div>
        <button @onclick="@(e => AddItem(productId: 1, quantity: 5))" style="width: 115px; height: 115px; font-size: 25px"><i class="@($"fa fa-{_productList[1 - 1].ImageClassName}")"></i><div>@_productList[1 - 1].Name</div><div>@((_productList[1 - 1].UnitPrice * 5).ToString("C"))</div></button>
        <button @onclick="@(e => AddItem(productId: 1, quantity: 10))" style="width: 115px; height: 115px; font-size: 25px"><i class="@($"fa fa-{_productList[1 - 1].ImageClassName}")"></i><div>@_productList[1 - 1].Name</div><div>@((_productList[1 - 1].UnitPrice * 10).ToString("C"))</div></button>
        <button @onclick="@(e => AddItem(productId: 2, quantity: 1))" style="width: 115px; height: 115px; font-size: 25px"><i class="@($"fa fa-{_productList[2 - 1].ImageClassName}")"></i><div>@_productList[2 - 1].Name</div><div>@_productList[2 - 1].UnitPrice.ToString("C")</div></button>
        <button @onclick="@(e => AddItem(productId: 3, quantity: 1))" style="width: 115px; height: 115px; font-size: 25px"><i class="@($"fa fa-{_productList[3 - 1].ImageClassName}")"></i><div>@_productList[3 - 1].Name</div><div>@_productList[3 - 1].UnitPrice.ToString("C")</div></button>
        <button @onclick="@(e => AddItem(productId: 4, quantity: 1))" style="width: 115px; height: 115px; font-size: 25px"><i class="@($"fa fa-{_productList[4 - 1].ImageClassName}")"></i><div>@_productList[4 - 1].Name</div><div>@_productList[4 - 1].UnitPrice.ToString("C")</div></button>
    </div>

    <br/>

    <table class="sale-items">
        <tr class="border_bottom">
            <th><b>Item</b></th>
            <th><b>Qty</b></th>
            <th/>
            <th><b>Each</b></th>
            <th><b>Total</b></th>
            <th style="width: 30px"/>
        </tr>
        @{
            foreach (var saleItem in Sale.SaleItems)
            {
                <tr @key=saleItem>
                    <td><i class="@($"fa fa-{saleItem.Product.ImageClassName}")"></i> @saleItem.Product.Name</td>
                    <td style="width: 80px; padding-right: 10px">
                        <span style="text-align: right">@saleItem.Quantity</span>
                        <button title="Add 1" @onclick="@(e => ChangeItemQuantity(@saleItem.Product.Id, @saleItem.Quantity + 1))" class="btn" style="width: 15px; padding: 6px"><i class="fa fa-plus"></i></button>
                        <button title="Remove 1" @onclick="@(e => ChangeItemQuantity(@saleItem.Product.Id, @saleItem.Quantity - 1))" class="btn" style="width: 15px; padding: 6px"><i class="fa fa-minus"></i></button>
                    </td>
                    <td>@saleItem.Product.PluralUnitName</td>
                    <td style="text-align: right">@saleItem.Product.UnitPrice.ToString("C")</td>
                    <td style="text-align: right">@saleItem.TotalPrice.ToString("C")</td>
                    <td style="width: 63px; padding: 5px"><button title="Delete item" @onclick="@(e => DeleteItem(@saleItem.Product.Id))" class="btn" style="width: 30px"><i class="fa fa-trash"></i></button></td>
                </tr>
            }
        }
    </table>

    <br/>

    <div>
        <div><input type="text" inputmode="numeric" @onchange="PaymentAmountChanged" min="1" step="0.01" style="width: 100px; text-align: right" pattern="\d*.\d{2}" value="@(Math.Max(0, Sale.Balance * -1).ToString("C"))"/><button @onclick="AddPayment" style="width: 120px">Add Payment</button></div>
        <div><input type="text" inputmode="numeric" @onchange="ChangeAmountChanged" min="1" step="0.01" style="width: 100px; text-align: right" pattern="\d*.\d{2}" value="@(Math.Max(0, Sale.Balance).ToString("C"))"/><button @onclick="GiveChange" style="width: 120px">Give Change</button></div>
    </div>

    <br/>

    <table>
        <tr><td><b>Items:</b></td><td style="text-align: right">@Sale.TotalItems.ToString()</td></tr>
        <tr><td><b>Sub-Total:</b></td><td style="text-align: right">@Sale.SubTotal.ToString("C")</td></tr>
        <tr><td><b>Payments:</b></td><td style="text-align: right">@Sale.AmountPaid.ToString("C")</td></tr>
        <tr><td><b>Change:</b></td><td style="text-align: right">@Sale.ChangeGiven.ToString("C")</td></tr>
        <tr style="text-align: right; text-decoration: underline"><td></td><td></td><td><b>Balance:</b></td><td style="text-align: right"><i>@Sale.Balance.ToString("C")</i></td></tr>
    </table>
</div>

<br />

<div class="order-actions" style="display: flex; align-items: center; text-align: center; justify-content: center">
    @if(IncludeCancel) {<button style="width: 120px; margin: 15px" @onclick="Cancel">Cancel</button>}
  
    <button style="width: 120px; margin: 15px" @onclick="@(e => StartNewSale())">New Sale</button>
</div>

<hr />

<div style="background-color: black; color: white; width: 60%">
    <table>
        @{
            foreach (var entry in _log)
            {
            <tr @key=entry>
                <td>@entry.Id</td>
                <td>@entry.Timestamp.ToShortTimeString()</td>
                <td>@entry.Entry</td>
            </tr>
            }
        }
    </table>
</div>
